:root{
    --primary-white: #fafafa;
    --primary-black:#333333;
    --primary-green:#22df61;
}


@font-face {
    font-family: Abril;
    src: url(../fonts/AbrilFatface-Regular.ttf);
  }


body{
    text-align: center;
    background-color: var(--primary-white);
}

.navbarHeader{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

h1{
    font-family: 'Abril';
}
h2{
    font-family: 'Abril';
    margin-top: 40px;
}
.navItem{
    color:var(--primary-black);
    text-decoration: none;
    font-size: 1.2em;
    z-index: 4;

}
li{
    width:140px;
    text-align: center;
}
li::after{
    z-index:-1;
    content: "";
    display: block;
    position: relative;
    top:-100%;
    height: 100%;
    width: 0%;
    background-color: var(--primary-green);
    border-radius: 60%;
    transition: 0.2s;
}
li:hover::after{
    width: 100%;
    transition: 0.2s;
}
.line{
    
    height:30px;
    width:80%;
    margin:0 auto;
    border-bottom: 2px solid var(--primary-black);
    margin-bottom: 40px;
}

/*
HEADER-FINISH

BODYINDEX-START

*/

.bodyPhoto{
    display: flex;
    flex-direction: row;

    width:100vw;
    flex-wrap: wrap;
}
.bodyPhoto div{
    height:500px;
}
.bodyPhoto img{
    object-fit: cover;
    width: 80%;
    border: 1px solid var(--primary-black);
    transition: 0.2s;
}

.bodyPhoto img:hover{
    box-shadow: 3px 3px rgba(3,3,3,.1);
    width:90%;
    transition: 0.2s;
}

/*
BODY INDEX-FINISH
BODY ABOUT- START*/
.aboutMe{
    display: flex;
    flex-direction: row;
    width:100%;
    flex-wrap: wrap;
}

.aboutMe div{
    padding: 0px;
}
.aboutMe img{
    width: 100%;
}